/* Reset default margins and paddings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
}


body {
    background-color: #081b29;
    color: white;
}



.main-header {
    position: fixed;
    background: transparent;
    padding: 10px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* Ensure it is above other content */
}


.header-Me {
    position: relative;
    color: white; /* Text color */
    font-size: 1.2em; /* Font size */
    font-weight: bold; /* Bold text */
    padding: 0 10px;
}


.nav-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li{
    position: relative;
    list-style: none;
}


.nav-list a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 5px 34px; /* Padding for clickable area */
    font-size: 20px;
    font-weight: 500;
    transition: 0.4s;
}

.nav-list a:hover {
    color: #00abf0; /* Hover color */
}







/*---------------Home section CSS------------------------*/


.home{
    
    position: relative;
    top: 63.2px;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
}

.home-details{
    background-color: yellowgreen;
    padding: 0 10px;
}
