/* Reset default margins and paddings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}


body {
    position: static;
    background-color: #081b29;
    color: white;
}



.main-header {
    position: fixed;
    background: transparent;
    padding: 10px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* Ensure it is above other content */
    transition: 0.7s;
    border-bottom: 1px outset white;

}

.main-header-scrolled {
    position: fixed;
    background: transparent;
    padding: 10px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* Ensure it is above other content */
    background-color: black; /* Change this to the desired color */
    color: white;
    transition: 0.7s;

}


.header-Me {
    position: relative;
    color: white; /* Text color */
    font-size: 1.2em; /* Font size */
    font-weight: bold; /* Bold text */
    padding: 0 10px;
    margin-left: 20px;
}


.nav-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li{
    position: relative;
    list-style: none;
}


.nav-list a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 5px 34px; /* Padding for clickable area */
    font-size: 20px;
    font-weight: 500;
    transition: 0.4s;
}

.nav-list a:hover {
    color: #00abf0; /* Hover color */
}





/*---------------Home section CSS------------------------*/


.home{
    padding-top: 100px;
    position: relative;
    top: 63.2px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    margin-bottom: 60px;
}

.home-details{
    position: relative;
    bottom: 100px;
    max-width: 600px;
    margin-top: 40px;
    
}


.home-header{
    font-size: 56px;
    font-weight: 700;
}

.home-header span{
    color: #00abf0;
}


.home-details p {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 40px;
}

.about-button {
    cursor: pointer;
    margin-bottom: 30px;
    width: 100px;
    height: 50px;
    justify-content: center;
    text-align: center;
    background: transparent;
    border-color: #00abf0;
    color: #00abf0;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.4s;
}

.about-button span{
    cursor: pointer;
}

.about-button:hover{
    cursor: pointer;
    background-color: #00abf0;
    color: white;
}



.resume-button{
    margin-left: 200px;
    text-decoration: none;
    width: 100px;
    display: inline-flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    border: 2px solid #00abf0;
    color:#00abf0;
    border-radius: 10px;
    transition: 0.4s;
}

.resume-button:hover{
    color: white;
    background-color: #00abf0;

}

.website-links{
    position: sticky;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.website-links a{
    background: transparent;
    justify-content: center;
    align-items: center;
    border: 2px solid #00abf0;
    border-radius: 50%;
    display: inline-flex;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.4s;
    color: #00abf0;
}

.website-links a:hover{
    background-color: #00abf0;
    color: white;
    transition: 0.4s;
}

.website-links a:hover i{
    color: white;
}

.website-links a i:hover{
    color: white;
}

.website-links a:visited{
    color: #00abf0;
    text-decoration: none;
}



.home-pic{
    position: relative;
    left: 100px;
    bottom: 90;
    width: 70vh;
    height: 80vh;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
}


/*---------------about section ------------------------*/


.about-me-section{
    background-color: #073452;
    padding: 5px 34px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-header{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 651px;
    top: -303px;
}

#about-profile-pic{
    position: absolute;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    height: 60vh;
    width: 60vh;
    top: 1025px;
    left: 190.35px;
}

.about-description-box{
    position: absolute;
    width: 50%;
    height: 50%;
    right: 25px;
}



    

